@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        font-family: Pretendard, ui-sans-serif, system-ui, -apple-system,
            "Apple SD Gothic Neo", "Malgun Gothic", "맑은 고딕", sans-serif;
    }
}